[submodule "gridmap"]
    path = bundles/gridmap
    url = https://github.com/Myopengrid/gridmap.git
[submodule "mediafiles"]
    path = bundles/mediafiles
    url = https://github.com/JeffCost/mediafiles.git
[submodule "osmigration"]
    path = bundles/osmigration
    url = https://github.com/Myopengrid/osmigration.git
[submodule "osofflineim"]
    path = bundles/osofflineim
    url = https://github.com/Myopengrid/osofflineim.git
[submodule "osregistration"]
    path = bundles/osregistration
    url = https://github.com/Myopengrid/osregistration.git
[submodule "thumbnails"]
    path = bundles/thumbnails
    url = https://github.com/Myopengrid/thumbnails.git
